<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload array files</title>
  </head>
  <body>
    <form action="/xulymang" method="post" enctype="multipart/form-data">
      <input type="text" name="tenSanPham" placeholder="Tên sản phẩm"/>
      <br><br>
      <input type="file" name="hinhsanpham" value="" multiple>
      <br><br>
      <input type="submit" value="Gửi">
    </form>
  </body>
</html>
