<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <h3>Đăng ký thành viên</h3>
    <form action="/xulydangky" method="post" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="Enter username"/>
      <br><br>
      <input type="file" name="avatar" value="">
      <br><br>
      <input type="submit" value="Đăng ký">
    </form>
  </body>
</html>
